html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#HW_badge_cont {
  position: absolute;
  left: 25px;
  top: -10px;
}

.changelog-badge {
  position: relative;
  height: 48px;
  width: 48px;
}

.animate-moving-background {
  animation: moving-background 5s ease-in-out;
}
@keyframes moving-background {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  66% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}
